{!- macro render_var(var, prefix=[], config_prefix=[]) !}
{!-   set prefix = prefix.copy() !}
{!-   if var is mapping !}
{!-     for name, value in var | dictsort !}
{=- render_var(value, prefix + [name], config_prefix) =}
{!-     endfor !}
{!-   elif var is iterable and (var is not string and var is not mapping) !}
{= prefix | join("_") | upper =}: {{ {= (config_prefix + prefix) | join(".") =} | join(",") }}
{!-   elif var in [true, false] !}
{= prefix | join("_") | upper =}: {{ {= (config_prefix + prefix) | join(".") =} | int }}
{!-   else !}
{= prefix | join("_") | upper =}: {{ {= (config_prefix + prefix) | join(".") =} }}
{!-   endif !}
{!- endmacro -!}


# This file is managed by Salt.
# Manual changes might be overwritten.

{%- load_yaml as envvars %}

{!- if "config" in cookiecutter._settings !}
{!-   if "env" in cookiecutter._settings.config !}
{!-     set env = cookiecutter._settings.config.env !}
{!-     set config_prefix = [cookiecutter.abbr_pysafe, "config", "env"] !}
{!-   else !}
{!-     set env = cookiecutter._settings.config !}
{!-     set config_prefix = [cookiecutter.abbr_pysafe, "config"] !}
{!-   endif !}
{=- render_var(env, [], config_prefix) =}
{!- endif !}

{%- endload %}

{% for var, val in envvars.items() %}
{%-   if val %}
{{ var }}={{ val }}
{%-   endif %}
{%- endfor %}


##################################################################

{!- for cnt in cookiecutter.containers.split(",") !}
{!-   set config_prefix = false !}
{!-   if cnt in cookiecutter._settings !}
{!-     if "env" in cookiecutter._settings[cnt] !}
{!-       set env = cookiecutter._settings[cnt].env !}
{!-       set config_prefix = [cookiecutter.abbr_pysafe, cnt, "env"] !}
{!-     else !}
{!-       set env = cookiecutter._settings[cnt] !}
{!-       set config_prefix = [cookiecutter.abbr_pysafe, cnt] !}
{!-     endif !}
{!-   elif "config" in cookiecutter._settings and cnt in cookiecutter._settings.config !}
{!-     if "env" in cookiecutter._settings.config[cnt] !}
{!-       set env = cookiecutter._settings.config[cnt].env !}
{!-       set config_prefix = [cookiecutter.abbr_pysafe, "config", cnt, "env"] !}
{!-     else !}
{!-       set env = cookiecutter._settings.config[cnt] !}
{!-       set config_prefix = [cookiecutter.abbr_pysafe, "config", cnt] !}
{!-     endif !}
{!-   endif !}
{!-   if config_prefix !}

# generated env vars for container {= cnt =}
{=- render_var(env, [], config_prefix) =}
{!-   endif !}
{!- endfor !}
